/*This is a CSS comment*/


body {
padding: 0;
text-align: justify;
font-family: "Century Gothic", Verdana, sans-serif;
font-size: 13px;
color: #25323A;
background-color:#c4e3e8;
background-image: url("assets/form.jpg");
background-repeat: no-repeat;
  background-size: cover;
}

p 
{
	color: black;
	font-size: 30px;
}

.container {
    border-radius:15px 15px 15px 15px;
    background:#d6dadb;
    width:50%;
}




a
{
text-decoration:none;
color:#2C4969;
}

/*Change form width to 75% on a smaller screen*/
@media screen and (max-width: 940px) {
  .container {
    border-radius:15px 15px 15px 15px;
    background:#d6dadb;
    width:75%;
}
}



#footer {
position: absolute; left: 12px; top: 740px;
width: 680px;
height:60px;
text-align:center;
font-size:10px;
color:red;
padding-top:24px;
font-family: Geneva, Arial, Helvetica, sans-serif;
}